<html>

<head>
	<meta charset="UTF-8">
	<title>传智音乐</title>
	{{include './commons/links.html'}}

	<style type="text/css">
		#pwd-level div {
			height: 30px;
			width: 30px;
			display: inline-block;
			float: left;
		}

		#pwd-level span {
			display: inline-block;
			float: left;
		}
	</style>
</head>

<body>
	{{include './commons/headers.html'}}
	<link href="/public/css/register.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	</script>
	<div class="aw-register-box">
		<div class="mod-head">
			<a href="/"></a>
			<h1>注册新用户</h1>
			<h2 id="msg" style="color: hotpink;"></h2>
		</div>
		<div class="mod-body">
			<form action="" class="aw-register-form" method="post" id="register_form">
				<ul>
					<li class="alert alert-danger hide error_message text-left">
						<i class="icon icon-delete"></i>
						<em></em>
					</li>
					<li>
						<input class="aw-register-name form-control" type="text" name="username" placeholder="用户名" value="" />
					</li>
					<li>
						<input class="aw-register-email form-control" type="text" placeholder="邮箱" name="email" value="" />
					</li>
					<li>
						<input class="aw-register-pwd form-control" type="password" name="password" placeholder="密码" />
					</li>
					<div id='pwd-level'>
						<span>密码强度:</span>
						<div></div>
						<div></div>
						<div></div>
					</div>
					<hr/>
					<li class="aw-register-verify">
						<img class="pull-right" width="120" src="">
						<input type="text" class="form-control" name="vcode" placeholder="验证码" />
					</li>
					<li class="last">
						<label>
							<input type="checkbox" checked="checked" value="agree" /> 我同意</label>
						<a href="javascript:;" class="aw-agreement-btn">用户协议</a>
						<a href="/login" class="pull-right">已有账号?</a>
						<div class="aw-regiter-agreement hide">
							<div class="aw-register-agreement-txt" id="register_agreement"></div>
						</div>
					</li>
					<li class="clearfix">
						<button type="submit" class="btn btn-large btn-blue btn-block">
							注册
						</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
	{{include './commons/footer.html'}}

	<script type="text/javascript">
		$(function () {
			registerFn();
			(function () {
				function inputChange() {
					var username = $(this).val()
					console.log(username)
					$.ajax({
						url: '/api/check-user',
						type: 'post',
						dataType: 'json',
						data: {
							username: username
						},
						success: function (data) {


							$('#msg').html(data.msg)

						}
					})

				}

				function throttle(method, context) {
					clearTimeout(method.tId);
					method.tId = setTimeout(function () {
						method.call(context);
					}, 1000);
				}

				
				$('[name=username]').on('input', function () {
					throttle(inputChange, $('[name=username]'))
				})
			})();

			// 验证密码强度
			checkPasswordFn()
		})
		//注册
		var registerFn = function () {
			$('#register_form').on('submit', function (e) {
				e.preventDefault()
				var data = $(this).serialize()
				// console.log(data)
				$.ajax({
					url: '/api/do-register',
					type: 'post',
					dataType: 'json',
					data: data,
					success: function (res) {
						if (res.code == '001') {
							if (confirm('注册成功，去登录?')) {
								window.location.href = '/user/login';
							}
							return;
						} else {
							//注册问题
							$('#msg').text(res.msg);
						}
					}
				})

			})
		};

		//验证密码强度
		var checkPasswordFn = function () {
			$('[name=password]').on('keyup', function () {
				var password = $(this).val()
				var regExp1 = /[0-9]/;
				var regExp2 = /[a-xA-Z]/
				var regExp3 = /[\W]/

				var level = 0
				if (regExp1.test(password)) level++
				if (regExp2.test(password)) level++
				if (regExp3.test(password)) level++

				var colorBox = $('#pwd-level').find('div')
				colorBox.css({
						backgroundColor: ''
					})


				var colorArr = ['greenyellow', 'yellowgreen', 'hotpink']

				for (var i = 0; i < level; i++) {
					$(colorBox[i]).css({
						backgroundColor: colorArr[i]
					})
				}

			})



		}

		
	</script>


</body>

</html>